body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Shrikhand', cursive;
}

body {
    max-width: max-content;
}

/* logo titre */

.logoheader {
    text-align: center;
}

.logoheader img {
    width: 50%;
}

/* Selection de la ville */

.searchville {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 222, 223);
    font-size: x-large;
}

#logomapmarker {
    margin-right: 10px;
}

/* Presentation */

.presentation {
    background-color: rgb(233, 224, 224);
    padding: 20px 0px 40px 0px;
}

.reservez, .decouvrez, .explorer {
    text-align: center;
}

.decouvrez {
    font-size: large;
}

.explore {
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 50px;
}

button {
    border: none;
    background-color: rgb(233, 224, 224);
}

/* Section fonctionnement */

.fonctionnement {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin: 0px 20px 30px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.numeros {
    background-color: #9356DC;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 10px 10px 10px -10px;
    border-radius: 50%;
}

.fonctionnement_logo {
    margin: 10px;
}

/* Section restaurants */

#sectionrestaurant {
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.restaurantparis {
    border: 2px solid #2c2b2b;
    border-radius: 20px;
    margin: 20px;
}

.imgrestaurants {
    object-fit: cover;
    width: 100%;
    max-height: 150px;
    border-radius: 20px 20px 0px 0px;
}

.restaurantparis_texte {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.restaurantparis_coeur {
    font-size: x-large;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 82, 82);
    color: white;
}

footer i {
    margin-right: 20px;
}

footer p, h2 {
    margin-left: 30px;
}

.logofooter img {
    width: 30%;
}