body {
  margin: auto;
  font-family: "Roboto", "Times New Roman", Times, serif;
}

h1 h2 h3 {
  font-family: "Shrikhand", "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: black;
}

footer a {
  color: white;
}

@media all and (min-width: 992px) {
  body {
    max-width: 1500px;
    margin: auto;
  }
}
/* Header */
.titre {
  width: 200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-right: 20px;
}
.titre__img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.titremenu__arrow {
  margin-left: 20px;
}

/*Footer*/
.footer {
  background-color: rgb(75, 73, 73);
  color: white;
  padding: 20px 0px 20px 10px;
}
.footer__bloc {
  display: flex;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -15px;
}
.footer__bloc__icone {
  margin-right: 10px;
}
.footer__bloc__icone--hands {
  font-size: small;
  margin-right: 7px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__bloc {
    margin-top: 0;
    margin-bottom: 0;
  }
}
/*page loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 100vw;
  height: 100vh;
  font-family: Shrikhand, sans-serif;
  font-size: 100px;
  text-align: center;
  color: white;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  animation: loader 1s ease-in-out 3s forwards;
}
.loader__icone {
  margin-top: 100px;
  animation: tourne 3s;
}
.loader__texte {
  margin-top: 80px;
  font-size: 50%;
}

/* Accueil */
.rechercheville {
  display: flex;
  justify-content: center;
  background-color: rgb(203, 204, 207);
}
.rechercheville__logo {
  padding-right: 10px;
}

.presentation {
  background-color: rgb(241, 243, 245);
  text-align: center;
  padding: 30px;
}
.presentation__explorer {
  border: solid 1px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  padding: 20px;
  margin: 40px;
  box-shadow: 5px 5px 14px rgb(203, 204, 207);
  transition: all 500ms linear;
}
.presentation__texte {
  color: rgb(75, 73, 73);
}

.presentation__explorer:hover {
  filter: brightness(1.1);
  box-shadow: 5px 5px 14px rgb(75, 73, 73);
}

@media all and (min-width: 768px) {
  .presentation__explorer {
    width: 30%;
    margin: auto;
    margin-bottom: 40px;
  }
}
#fonctionnement {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.fonctionnement {
  display: flex;
  margin: 20px 20px 20px 30px;
  border: solid 0px rgb(203, 204, 207);
  border-radius: 20px;
  background-color: rgb(241, 243, 245);
  align-items: center;
  box-shadow: 5px 5px 14px rgb(241, 243, 245);
  transition: background-color 0.5s linear;
}
.fonctionnement__numero {
  border: solid 1px;
  border-radius: 50%;
  padding: 6px 10px;
  margin-left: -15px;
  background-color: #9356DC;
  color: white;
}
.fonctionnement__logo {
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  color: rgb(75, 73, 73);
  transition: color 0.5s ease-in;
}
.fonctionnement__texte {
  font-weight: bold;
  font-size: large;
}

.fonctionnement:hover {
  background-color: #e8d9f9;
}
.fonctionnement:hover .fonctionnement__logo {
  color: #9356DC;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fonctionnement {
    width: 35%;
  }
}
@media all and (min-width: 992px) {
  #fonctionnement {
    display: flex;
    align-items: center;
  }

  .fonctionnement {
    width: 20%;
  }
}
.partie--accueil {
  background-color: rgb(241, 243, 245);
}

.restaurant {
  padding-bottom: 30px;
}
.restaurant__titre {
  padding-top: 50px;
}
.restaurant__paris {
  border: solid 0px;
  border-radius: 20px;
  margin: 20px;
  background-color: white;
}
.restaurant__paris__bloc {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-top: -2px;
}
.restaurant__paris__bloc__coeur {
  color: #9356DC;
  font-size: x-large;
}
.restaurant__paris__bloc__img {
  width: 30px;
}
.restaurant__paris__img {
  display: flex;
  height: 200px;
}
.restaurant__paris__img__image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.restaurant__paris__img__image--texte {
  position: absolute;
  border: solid 1px;
  background: rgb(177, 243, 177);
  color: green;
  padding: 5px 10px;
  left: 70%;
  margin-top: 10px;
}

@keyframes color {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes colorblack {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.bloc2coeur {
  background-color: white;
}
.bloc2coeur--blanc {
  position: absolute;
  z-index: 1;
}
.bloc2coeur--blanc:hover + .bloc2coeur--violet {
  animation: color;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.bloc2coeur--blanc:hover {
  animation: colorblack;
  animation-duration: 1s;
}
.bloc2coeur--violet {
  font-size: 21px;
  opacity: 0;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  top: 0px;
  left: 1px;
  z-index: 0;
}

.bloc2coeur--blanc:hover {
  opacity: 0;
}

.cardtexteH {
  margin-bottom: -10px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurant__titre {
    text-align: center;
  }
  .restaurant__paris__img {
    width: 500px;
  }
  .restaurant__paris__img__image--texte {
    left: auto;
  }
}
@media all and (min-width: 992px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurant__titre {
    margin-right: 70px;
    text-align: center;
  }
  .restaurant__paris__img {
    width: 500px;
  }
  .restaurant__paris__img__image--texte {
    left: auto;
    margin-top: 20px;
  }
}
/* Menus */
/*Apparition des menus*/
.plat__liste {
  opacity: 0;
}

@keyframes menus {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  25% {
    opacity: 0.25;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.platlisteun {
  animation: menus;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.platlistedeux {
  animation: menus;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.platlistetrois {
  animation: menus;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*code sass page*/
.titremenu {
  display: flex;
  align-items: center;
}
.titremenu__logo {
  width: 200px;
}
.titremenu__logo__img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.imagemenu {
  display: flex;
  height: 300px;
}
.imagemenu__photo {
  object-fit: cover;
  width: 100%;
  height: 300px;
  position: absolute;
}

.titreresto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 3rem;
}

.main--menu {
  background-color: rgb(241, 243, 245);
  border-radius: 50px 50px 0px 0px;
  margin-top: -40px;
  padding-bottom: 30px;
  position: relative;
}

@keyframes coche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.plat__titre {
  border-bottom: solid rgb(177, 243, 177);
  padding-bottom: 10px;
  margin-right: 80%;
}
.plat__intitule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 0px;
  box-shadow: 5px 5px 14px rgb(203, 204, 207);
  margin: 20px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: white;
}
.plat__intitule__titre {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__intitule__prix {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}
.plat__intitule__prix__texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__intitule__prix__tarif {
  margin-right: 10px;
}
.plat__intitule--bloctexte {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0%;
}
.plat__intitule:hover .check {
  width: 80px;
}
.plat__intitule:hover .check__icone {
  opacity: 1;
  font-size: medium;
  animation: coche 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0% 20% 20% 0%;
  width: 0px;
  height: 6rem;
  transition: width 0.5s;
}
.check__icone {
  transform-origin: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: medium;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn {
  text-align: center;
  border: solid 1px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  border-radius: 40px;
  padding: 20px;
  margin: 40px 80px 20px 80px;
  box-shadow: 5px 5px 14px rgb(203, 204, 207);
  transition: all 500ms linear;
}

.btn:hover {
  filter: brightness(1.2);
  box-shadow: 10px 10px 20px rgb(75, 73, 73);
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .plat {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  .plat__intitule {
    max-width: 600px;
    min-width: 0%;
  }

  .btn {
    width: 30%;
    margin: auto;
  }

  .titreresto {
    justify-content: center;
  }
  .titreresto h1 {
    padding-right: 50px;
  }
}
@media all and (min-width: 992px) {
  .imagemenu__photo {
    max-width: 1500px;
  }

  .plat__liste {
    display: flex;
    justify-content: space-around;
  }

  .plat__intitule {
    width: 600px;
    min-width: 0%;
  }

  .btn {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .titreresto {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .titreresto h1 {
    padding-right: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
