$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grisfonce: rgb(203, 204, 207);
$color-grisclair: rgb(241, 243, 245);
$color-noirclair: rgb(75, 73, 73);
$color-violetpale: #e8d9f9;
$color-noir: black;
$color-blanc: white;
$color-vertclair: rgb(177, 243, 177);
$color-vertfonce: green;
