$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grisfonce: rgb(204, 209, 217);
$color-grisclair: rgb(233, 238, 245);
$color-noirclair: rgb(63, 61, 61);
$color-noir: black;
$color-blanc: white;

