/* Accueil */

.titre {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    &__img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}

.rechercheville {
    display: flex;
    justify-content: center;
    background-color: $color-grisfonce;
    &__logo {
        padding-right: 10px;
    }
}

.presentation {
    background-color: $color-grisclair;
    text-align: center;
    padding: 30px;
    &__explorer {
        border: solid 1px;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        color: $color-blanc;
        border-radius: 40px;
        padding: 20px;
        margin: 40px;
        box-shadow: 5px 5px 14px $color-grisfonce;
    }
    &__texte {
        color: $color-noirclair;
    }
}

main h2 {
    margin-left: 20px;
}

#fonctionnement {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-blanc;
}

.fonctionnement {
    display: flex;
    margin: 20px 20px 20px 30px;
    border: solid 0px $color-grisfonce;
    border-radius: 20px;
    background-color: $color-grisclair;
    align-items: center;
    box-shadow: 5px 5px 14px $color-grisclair;
    &__numero {
        border: solid 1px;
        border-radius: 50%;
        padding: 6px 10px;
        margin-left: -15px;
        background-color: $color-primary;
        color: $color-blanc;
    }
    &__logo {
        padding-left: 20px;
        padding-right: 20px;
        font-size: x-large;
        color: $color-noirclair;
    }
    &__texte {
        font-weight: bold;
        font-size: large;
    }
    &--pink {
        background-color: $color-violetpale;        
    }
    &--pinklogo {
        color: $color-primary;
    }
}

.restaurant {
    background-color: $color-grisclair;
    padding-top: 40px;
    &__paris {
        border: solid 0px;
        border-radius: 20px;
        margin: 20px;
        background-color: $color-blanc;
        &__bloc {
            color: $color-noir;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
            margin-top: -2px;
            &__coeur {
                color: $color-primary;
                font-size: x-large;
            }
        }
        &__img {
            display: flex;
            height: 200px;
            &__image {
                object-fit: cover;
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0px 0px;
                position: relative;
                &--texte {
                    position: absolute;
                    border: solid 1px;
                    background: $color-vertclair;
                    color: $color-vertfonce;
                    padding: 5px 10px;
                    left: 70%;
                    margin-top: 10px;
                }
            }
        }  
    }      
}

.cardtexteH {
    margin-bottom: -10px;
}  