/*page loader*/

@keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: translateX(2000px);
    }
}

@keyframes tourne {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.loader {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    width: 100%;
    height: 100%;
    font-family: Shrikhand, sans-serif;
    font-size: 100px;
    text-align: center;
    color: $color-blanc;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    animation: loader 1s ease-in-out 3s forwards;
    &__icone {
        margin-top: 50%;
        animation: tourne 5s;
    }
    &__texte {
        margin-top: 25%;
    }
  }

/* Accueil */

.rechercheville {
    display: flex;
    justify-content: center;
    background-color: $color-grisfonce;
    &__logo {
        padding-right: 10px;
    }
}

.presentation {
    background-color: $color-grisclair;
    text-align: center;
    padding: 30px;
    &__explorer {
        border: solid 1px;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        color: $color-blanc;
        border-radius: 40px;
        padding: 20px;
        margin: 40px;
        box-shadow: 5px 5px 14px $color-grisfonce;
        transition: all 500ms linear;
    }
    &__texte {
        color: $color-noirclair;
    }
}

.presentation__explorer:hover {
    filter: brightness(1.20);
    box-shadow: 10px 10px 20px $color-noir;
}

@media all and (min-width: 768px)
{
    .presentation__explorer {
        width: 30%;
        margin: auto;
        margin-bottom: 40px;
    }
}    

#fonctionnement {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-blanc;
}

.fonctionnement {
    display: flex;
    margin: 20px 20px 20px 30px;
    border: solid 0px $color-grisfonce;
    border-radius: 20px;
    background-color: $color-grisclair;
    align-items: center;
    box-shadow: 5px 5px 14px $color-grisclair;
    transition: background-color 1000ms linear;
    &__numero {
        border: solid 1px;
        border-radius: 50%;
        padding: 6px 10px;
        margin-left: -15px;
        background-color: $color-primary;
        color: $color-blanc;
    }
    &__logo {
        padding-left: 20px;
        padding-right: 20px;
        font-size: x-large;
        color: $color-noirclair;
    }
    &__texte {
        font-weight: bold;
        font-size: large;
    }
}

.fonctionnement:hover {
    background-color: $color-violetpale;
    .fonctionnement__logo {
        color: $color-primary;
    }
}

@media all and (min-width: 768px) and (max-width: 991px)
{
    #fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fonctionnement {
        width: 35%;
    }
}

@media all and (min-width: 992px)
{
    #fonctionnement {
        display: flex;
        align-items: center;
    }
    .fonctionnement {
        width: 20%;
    }
}    

.main--accueil {
    background-color: $color-grisclair;
}

.restaurant {
    padding-bottom: 30px;
    &__titre {
        padding-top: 50px;
    }
    &__paris {
        border: solid 0px;
        border-radius: 20px;
        margin: 20px;
        background-color: $color-blanc;
        &__bloc {
            color: $color-noir;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px;
            margin-top: -2px;
            &__coeur {
                color: $color-primary;
                font-size: x-large;
            }
            &__img {
                width: 30px;
            }
        }
        &__img {
            display: flex;
            height: 200px;
            &__image {
                object-fit: cover;
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0px 0px;
                position: relative;
                &--texte {
                    position: absolute;
                    border: solid 1px;
                    background: $color-vertclair;
                    color: $color-vertfonce;
                    padding: 5px 10px;
                    left: 70%;
                    margin-top: 10px;
                }
            }
        }  
    }      
}

.cardtexteH {
    margin-bottom: -10px;
}

@media all and (min-width: 768px) and (max-width: 991px)
{
    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__titre {
            text-align: center;
        }
        &__paris__img {
            width: 500px;
            &__image--texte {
                left: auto;
            }    
        }
    }
}

@media all and (min-width: 992px)
{
    .restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__titre {
            margin-right: 70px;
            text-align: center;
        }
        &__paris__img {
            width: 500px;
            &__image--texte {
                left: auto;
                margin-top: 20px;
            }
        }    
    }
}    