/* Menus */

.titremenu {
    display: flex;
    align-items: center;
    &__logo {
        width: 200px;
        &__img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
}

.imagemenu {
    display: flex;
    height: 300px;
    &__photo {
        object-fit: cover;
        width: 100%;
        height: 300px;
        position: absolute;
    }
}

.titreresto {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main--menu {
    background-color: $color-grisclair;
    border-radius: 50px 50px 0px 0px;
    margin-top: -40px;
    padding-bottom: 30px;
    position: relative;
}

.plat {
    &__titre{
        border-bottom: solid $color-vertclair;
        padding-bottom: 10px;
        margin-right: 80%;
    }
    &__intitule {
        border: solid 0px;
        box-shadow: 5px 5px 14px $color-grisfonce;
        margin: 20px;
        padding-left: 10px;
        border-radius: 20px;
        background-color: $color-blanc;
        &__titre {
            padding-top: 10px;
        }
        &__prix {
            display: flex;
            justify-content: space-between;
            margin-top: -30px;
            margin-right: 20px;
        }
    }
}

.btn {
    text-align: center;
    border: solid 1px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: $color-blanc;
    border-radius: 40px;
    padding: 20px;
    margin: 40px 80px 20px 80px;
}

@media all and (min-width: 768px) and (max-width: 991px)
{
    .plat {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .plat__intitule {
        max-width: 600px;
    }
    .btn {
        width: 30%;
        margin: auto;
    }
    .titreresto {
        justify-content: center;
        h1 {
            padding-right: 50px;
        }
    }
}

@media all and (min-width: 992px)
{
    .imagemenu__photo {
        max-width: 1500px;
    }
    .plat__liste {
        display: flex;
        justify-content: space-around;
    }
    .plat__intitule {
        width: 600px;
    }
    .btn {
        width: 30%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .titreresto {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        h1 {
            padding-right: 50px;
        }
    }
}