/*@keyframes color {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colorblack {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.bloc2coeur {
    background-color: white;
     
    &--blanc {
        position: absolute;
        z-index: 1;
        &:hover +.bloc2coeur--violet {
            animation: color;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        &:hover {
            animation: colorblack;
            animation-duration: 2s;
        }
    }
    &--violet {
        font-size: 21px;
        opacity: 0;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: relative;
        top: 0px;
        left: 1px;
        z-index: 0;
    }
}

.bloc2coeur--blanc:hover {
    opacity: 0;
    
}*/

/*ancienne gestion coeur*/

/*.bloc2coeurb {
    background-color: $color-blanc; 
    &--blanc {
        position: absolute;
        z-index: 1;
        &:hover +.bloc2coeurb--violet {
            color: $color-primary;
            z-index: 2;
        }
    }
    &--violet {
        font-size: 22px;
        color: $color-blanc;
        transition: all 1s ease-in;
        position: relative;
        top: 0px;
        left: 1px;
    }
}*/

/*.stop:not(:hover) {
    color: $color-primary;
    z-index: 2;
    animation-play-state: paused;
}*/

/*
test page loader

@keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
      transform: translateX(2000px);
    }
}

@keyframes tourne {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  

.loader {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    width: 100%;
    height: 100%;
    font-family: Shrikhand, sans-serif;
    font-size: 100px;
    text-align: center;
    color: $color-blanc;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    animation: loader 1s ease-in-out 3s forwards;
    &__icone {
        animation: tourne 5s;
    }
  }
*/


/*Apparition des menus*/
/*
.plat__liste {
    opacity: 0;
}

@keyframes menus {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    25% {
        opacity: 0.25;
        transform: translateY(30px);
    }

    50% {
        opacity: 0.50;
        transform: translateY(20px);
    }

    75% {
        opacity: 0.75;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.platlisteun {
    animation: menus;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.platlistedeux {
    animation: menus;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


.platlistetrois {
    animation: menus;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
*/

/*gestion coche dans menu */

/*
@keyframes coche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform:rotate(360deg);
    }
}

.plat {
    &__titre{
        border-bottom: solid $color-vertclair;
        padding-bottom: 10px;
        margin-right: 80%;
    }
    &__intitule {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 0px;
        box-shadow: 5px 5px 14px $color-grisfonce;
        margin: 20px;
        padding-left: 10px;
        border-radius: 20px;
        background-color: $color-blanc;
        &__titre {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__prix {
            display: flex;
            justify-content: space-between;
            margin-top: -30px;
            &__texte {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &--bloctexte {
            display: flex;
            flex-direction: column;
            min-width: 0;
        }
        &:hover .check {
            width: 150px;
            &__icone {
                font-size: medium;
                animation: coche 1s;
            }
        }
    }
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-tertiary;
    border-radius: 0% 20% 20% 0%;
    width: 0px;
    height: 6rem;
    transition-duration: 1s;
    &__icone {
        transform-origin: center;
        color: $color-tertiary;
        background-color: $color-blanc;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 0px;
    }
}    
*/


/* Version des coches menus qui fonctionne 210422*/

@keyframes coche {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes transfert {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-50px);
    }
}

.plat {
    &__titre{
        border-bottom: solid $color-vertclair;
        padding-bottom: 10px;
        margin-right: 80%;
    }
    &__intitule {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 0px;
        box-shadow: 5px 5px 14px $color-grisfonce;
        margin: 20px;
        padding-left: 10px;
        border-radius: 20px;
        background-color: $color-blanc;
        &__titre {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__prix {
            display: flex;
            justify-content: space-between;
            margin-top: -30px;
            &__texte {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__tarif {
                margin-right: 10px;
            }
        }
        &--bloctexte {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 0%;
        }
        &:hover .check {
            width: 80px;
            
            &__icone {
                opacity: 1;
                font-size: medium;
                animation: coche 0.5s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-tertiary;
    border-radius: 0% 20% 20% 0%;
    width: 0px;
    height: 6rem;
    transition-duration: 0.5s;
    &__icone {
        transform-origin: center;
        color: $color-tertiary;
        background-color: $color-blanc;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: medium;
        opacity: 0;
        transition-duration: 0.5s;
    }
}      
