body {
    margin: auto;
    font-family: "Roboto",'Times New Roman', Times, serif;
}

h1 h2 h3 {
    font-family: "Shrikhand",'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

footer a {
    color: white;
}

@media all and (min-width: 992px)
{
    body {
        max-width: 1500px;
        margin: auto !important; /*Permet de prendre en compte margin auto au lieu du margin 0 dans normalize*/
    }
}